extends ../../layout

block link
  link(rel="stylesheet", href="/css/pages/404/404.css")

block body
  .container
    .main
      h1 Oops!
      h2 404 - Sản phẩm không tồn tại
      p Có thể sản phẩm đã bị xóa hoặc đã thay đổi tên.
      a.nut.bo(href="/") Trở về trang chủ
